.calendar-container{
    padding: 10px 0;
}

// render weekDays
.render-weekdays{
    display: grid;
    grid-template-columns: repeat(7, 170px);
    width: 100%;
    justify-content: center;
    &__day{
        font-size: 1.4rem;
        border: 4px solid #e5e5e5;
        height: 42px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #349df5;
        border-right: none;
        &:last-child{
            border-right: 4px solid #e5e5e5;
        }
    }
}

// render dates
.render-dates{
    display: grid;
    grid-template-columns: repeat(7, 170px);
    width: 100%;
    justify-content: center;
    &__wrap{
        padding: 10px;
        height: 140px;
        display: flex;
        flex-direction: column;
        border: 4px solid #e5e5e5;
        border-top: none;
        border-right: none;
        &:nth-child(7n){
            border-right: 4px solid #e5e5e5;
        }
        &-active{
            border-right: 10px solid #8fc9f9;
            border-left: 4px solid #8fc9f9;
        }
        &:hover{
            .render-dates__icon{
                display: block;
            }
        }
    }

    &__wrap-active &__date{
        color: #8fc9f9;
    }
    &__date{
        height: 26px;
        color: black;
        font-size: 1.8rem;
        &-dmonth{
            color: #999999;
        }
    }
    &__icon{
        float: right;
        display: none;
        cursor: pointer;
        svg{
            width: 18px;
            height: 18px;
        }
    }
}

